.cta
  background-color: $secondary
  background-image: url(../img/call-to-action-background.jpg)
  background-size: cover
  background-position: center
  padding: 5em 0
  background-blend-mode: multiply
  color: $text-inverse
  position: relative
  overflow: hidden

  @media(min-width: 725px)
    padding: 10em 0

    &::before, &::after
      content: ''
      display: block
      background: $accent
      position: absolute
      width: 100%
      border: 1em solid $white

    &::before
      top: 0
      bottom: -1em
      transform: skewX(60deg)
      left: -100%

    &::after
      top: -1em
      bottom: 0
      transform: skewX(60deg)
      right: -100%

.container--cta
  width: 70%
